<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="POS - Bootstrap Admin Template">
<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
<meta name="author" content="Dreamguys - Bootstrap Admin Template">
<meta name="robots" content="noindex, nofollow">
<title>Dreams Pos admin template</title>
<base href="/">

<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">

<link rel="stylesheet" href="assets/css/animate.css">

<link rel="stylesheet" href="assets/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="assets/css/form-improvements.css">
<style>
body.dark-mode { background: #1a1a2e; color: #ffffff !important; }
body.dark-mode .header { background: #16213e; }
body.dark-mode .sidebar { background: #0f3460; }
body.dark-mode .sidebar a { color: #ffffff !important; }
body.dark-mode .card { background: #16213e; color: #ffffff !important; }
body.dark-mode .card-header { border-color: #333; }
body.dark-mode .card-title { color: #ffffff !important; }
body.dark-mode .table { color: #ffffff !important; }
body.dark-mode .table td { color: #ffffff !important; }
body.dark-mode .table th { color: #ffffff !important; }
body.dark-mode .form-control { background: #1a1a2e; color: #ffffff !important; border-color: #333; }
body.dark-mode .form-control::placeholder { color: #aaa; }
body.dark-mode label { color: #ffffff !important; }
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 { color: #ffffff !important; }
body.dark-mode p, body.dark-mode span, body.dark-mode li, body.dark-mode a:not(.btn) { color: #ffffff !important; }
body.dark-mode .page-wrapper { background: #1a1a2e; }
body.dark-mode .btn-submit { background: #0f3460; border-color: #0f3460; color: #fff; }
body.dark-mode .dash-widget { background: #16213e; }
body.dark-mode .dash-widget h5, body.dark-mode .dash-widget h6 { color: #ffffff !important; }
body.dark-mode .setvalue ul li { color: #ffffff !important; }
body.dark-mode .product-table table { color: #ffffff !important; }
body.dark-mode .table thead { color: #ffffff !important; }
body.dark-mode .select2-container--default .select2-selection--single { background: #1a1a2e; color: #fff; border-color: #333; }
body.dark-mode .select2-dropdown { background: #1a1a2e; color: #fff; }
body.dark-mode #global-loader { background: #1a1a2e; }
body.dark-mode .wordset ul li a img { filter: invert(1); }
body.dark-mode .page-btn a { color: #fff; }
body.dark-mode .modal-content { background: #16213e; color: #fff; }
body.dark-mode .modal-header, body.dark-mode .modal-footer { border-color: #333; }
body.dark-mode .close span { color: #fff; }
body.dark-mode .breadcrumb-item a, body.dark-mode .breadcrumb-item.active { color: #fff; }
body.dark-mode .page-header h4, body.dark-mode .page-header h6 { color: #ffffff !important; }
body.dark-mode .table-responsive .table { color: #ffffff !important; }
body.dark-mode .dropdown-menu { background: #1a1a2e; }
body.dark-mode .dropdown-menu a { color: #fff !important; }
body.dark-mode .noti-content { background: #1a1a2e; }
body.dark-mode .topnav-dropdown-header { background: #16213e; color: #fff; }
</style>
</head>
<body>
<script>(function(){var t=localStorage.getItem('rms-theme')||'light';if(t==='dark')document.body.classList.add('dark-mode')})();</script>
<div id="global-loader">
<div class="whirly-loader"> </div>
</div>

<div class="main-wrapper">

<div class="header">

<div class="header-left active">
<a href="/index" class="logo">
<img src="assets/img/icons/LAZIZZ.svg" alt="">
</a>
<a href="/index" class="logo-small">
<img src="assets/img/logo-small.png" alt="">
</a>
<a id="toggle_btn" href="javascript:void(0);">
</a>
</div>

<a id="mobile_btn" class="mobile_btn" href="#sidebar">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>

<ul class="nav user-menu">

<li class="nav-item">
<div class="top-nav-search">
<a href="javascript:void(0);" class="responsive-search">
<i class="fa fa-search"></i>
</a>
<form id="searchForm">
<div class="searchinputs">
<input type="text" id="searchInput" data-i18n-placeholder="header.search" placeholder="Search pages...">
<div class="search-addon">
<span><img src="assets/img/icons/closes.svg" alt="img"></span>
</div>
</div>
<button type="submit" class="btn" id="searchdiv"><img src="assets/img/icons/search.svg" alt="img"></button>
</form>
</div>
</li>


<li class="nav-item dropdown has-arrow flag-nav">
<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
<img src="assets/img/flags/us.png" alt="" height="20" id="lang-flag">
</a>
<div class="dropdown-menu dropdown-menu-right">
<a href="javascript:void(0);" class="dropdown-item" onclick="setLanguage('en')">
<img src="assets/img/flags/us.png" alt="" height="16"> <span data-i18n="lang.en">English</span>
</a>
<a href="javascript:void(0);" class="dropdown-item" onclick="setLanguage('es')">
<img src="assets/img/flags/es.png" alt="" height="16"> <span data-i18n="lang.es">Spanish</span>
</a>
</div>
</li>


<li class="nav-item dropdown">
<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<img src="assets/img/icons/notification-bing.svg" alt="img"> <span class="badge rounded-pill">4</span>
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="assets/img/profiles/avatar-02.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="assets/img/profiles/avatar-03.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="assets/img/profiles/avatar-06.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="assets/img/profiles/avatar-17.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="activities.html">
<div class="media d-flex">
<span class="avatar flex-shrink-0">
<img alt="" src="assets/img/profiles/avatar-13.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
<p class="noti-time"><span class="notification-time">2 days ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="activities.html">View all Notifications</a>
</div>
</div>
</li>

<li class="nav-item dropdown has-arrow main-drop">
<a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
<span class="user-img"><img id="header-avatar" src="assets/img/profiles/avator1.jpg" alt="" onerror="this.src='assets/img/profiles/avator1.jpg'" style="object-fit:cover;width:34px;height:34px;border-radius:50%;">
<span class="status online"></span></span>
</a>
<div class="dropdown-menu menu-drop-user">
<div class="profilename">
<div class="profileset">
<span class="user-img"><img id="header-avatar-dropdown" src="assets/img/profiles/avator1.jpg" alt="" onerror="this.src='assets/img/profiles/avator1.jpg'" style="object-fit:cover;width=46px;height=46px;border-radius:50%;">
<span class="status online"></span></span>
<div class="profilesets">
<h6><%= typeof ownerName !== 'undefined' ? ownerName : 'Owner' %></h6>
<h5><%= typeof restaurantName !== 'undefined' ? restaurantName : 'Admin' %></h5>
</div>
</div>
<hr class="m-0">
<a class="dropdown-item" href="/profile"> <i class="me-2" data-feather="user"></i> <span data-i18n="nav.my_profile">My Profile</span></a>
<a class="dropdown-item" href="/settings"><i class="me-2" data-feather="settings"></i><span data-i18n="nav.settings">Settings</span></a>
<hr class="m-0">
<a class="dropdown-item logout pb-0" href="#" onclick="logout()">
    <img src="assets/img/icons/log-out.svg" class="me-2" alt="img"><span data-i18n="nav.logout">Logout</span>
</a>
</div>
</div>
</li>
</ul>


<div class="dropdown mobile-user-menu">
<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
<div class="dropdown-menu dropdown-menu-right">
<a class="dropdown-item" href="/profile">My Profile</a>
<a class="dropdown-item" href="/settings">Settings</a>
<a class="dropdown-item" href="#" onclick="logout()">Logout</a>
</div>
</div>

</div>


<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li>
<a href="/index" > <img src="assets/img/icons/dashboard.svg" alt="img"><span data-i18n="nav.dashboard"> Dashboard</span> </a>
</li>
<li class="submenu">
<a href="#"><img src="assets/img/icons/product.svg" alt="img"><span data-i18n="nav.food"> Food</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/pos"><span data-i18n="nav.billing">Billing</span></a></li>
<li><a href="/addmenupage"><span data-i18n="nav.add_item">Add item</span></a></li>
<li><a href="/getmenu"><span data-i18n="nav.list_items">List of items</span></a></li>
<!-- <li><a href="addcategory.html">Add Category</a></li>
<li><a href="subcategorylist.html">Sub Category List</a></li>
<li><a href="subaddcategory.html">Add Sub Category</a></li>
<li><a href="brandlist.html">Brand List</a></li>
<li><a href="addbrand.html">Add Brand</a></li>
<li><a href="importproduct.html">Import Products</a></li>
<li><a href="barcode.html">Print Barcode</a></li> -->
</ul> 
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/time.svg" alt="img"><span data-i18n="nav.report"> Report</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/chart-js"><span data-i18n="nav.orders_report">Orders Report</span></a></li>
<li><a href="/datechart"><span data-i18n="nav.orders_by_date"> Orders report by Date</span></a></li>
<li><a href="/orders-list"><span data-i18n="nav.orders_list">Orders List</span></a></li>
    <!-- <li><a href="inventoryreport.html">Inventory Report</a></li>
    <li><a href="invoicereport.html">Invoice Report</a></li>
    <li><a href="purchasereport.html">Purchase Report</a></li>
    <li><a href="supplierreport.html">Supplier Report</a></li>
    <li><a href="customerreport.html">Customer Report</a></li> -->
    </ul>
</li>
 <li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/sales1.svg" alt="img"><span data-i18n="nav.suppliers_inventory"> Suppliers / Inventory</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/addinventory"><span data-i18n="nav.add_inventory">Add Inventory</span></a></li>
<li><a href="/get-expense-list"><span data-i18n="nav.inventory_list">Inventory List</span></a></li>
<li><a href="/suppliers-list"><span data-i18n="nav.supplier_list">Supplier List</span></a></li>
</ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/expense1.svg" alt="img"><span data-i18n="nav.expense"> Expense</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/addexpense"><span data-i18n="nav.add_expense">Add Expense</span></a></li>
<li><a href="/getexpense"><span data-i18n="nav.expense_list">Expense List</span></a></li>
    </ul>
    </li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/users1.svg" alt="img"><span data-i18n="nav.customers"> Customers</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/customers-list"><span data-i18n="nav.customer_list">Customer List</span></a></li>
    </ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/places.svg" alt="img"><span data-i18n="nav.branches"> Branches</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/branches"><span data-i18n="nav.branches_list">Branches List</span></a></li>
<li><a href="/add-branch"><span data-i18n="nav.add_branch">Add Branch</span></a></li>
    </ul>
</li>
<li class="submenu">
<a href="javascript:void(0);"><img src="assets/img/icons/purchase1.svg" alt="img"><span data-i18n="nav.purchase"> Purchase</span> <span class="menu-arrow"></span></a>
<ul>
<li><a href="/purchase-list"><span data-i18n="nav.purchase_list">Purchase List</span></a></li>
<li><a href="/add-purchase"><span data-i18n="nav.add_purchase">Add Purchase</span></a></li>
</ul>
</li>
<li>
<a href="/audit-log"><img src="assets/img/icons/time.svg" alt="img"><span data-i18n="nav.audit_log">Audit Log</span></a>
</li>
</ul>
</div>
</div>
</div>
<script>
    (function(){
        var path = window.location.pathname;
        var links = document.querySelectorAll('#sidebar-menu a');
        for (var i = 0; i < links.length; i++) {
            var href = links[i].getAttribute('href');
            if (href && href !== '#' && href !== 'javascript:void(0);' && path.indexOf(href) === 0) {
                var li = links[i].closest('li');
                if (li) {
                    li.classList.add('active');
                    var parentSub = li.closest('.submenu');
                    if (parentSub) {
                        parentSub.classList.add('active');
                        var childUl = parentSub.querySelector('ul');
                        if (childUl) childUl.style.display = 'block';
                    }
                }
                break;
            }
        }
    })();
</script>
<script>
    document.getElementById('searchForm').addEventListener('submit', function(e) {
        e.preventDefault();
        var q = document.getElementById('searchInput').value.toLowerCase().trim();
        if (!q) return;
        var pages = [
            { keywords: ['dashboard', 'inicio'], url: '/index' },
            { keywords: ['menu', 'item', 'food', 'comida', 'producto', 'list'], url: '/getmenu' },
            { keywords: ['billing', 'pos', 'facturar', 'cobrar', 'checkout'], url: '/pos' },
            { keywords: ['add item', 'addmenu', 'nuevo item', 'agregar'], url: '/addmenupage' },
            { keywords: ['report', 'sales', 'ventas', 'chart', 'grafico'], url: '/chart-js' },
            { keywords: ['report date', 'date', 'fecha', 'rango'], url: '/datechart' },
            { keywords: ['inventory', 'stock', 'inventario'], url: '/get-expense-list' },
            { keywords: ['expense', 'gasto', 'gastos'], url: '/getexpense' },
            { keywords: ['customer', 'cliente', 'clientes'], url: '/customers-list' },
            { keywords: ['branch', 'sucursal', 'sucursales'], url: '/branches' },
            { keywords: ['supplier', 'proveedor', 'proveedores', 'supplier list'], url: '/suppliers-list' },
            { keywords: ['order list', 'ordenes', 'orders', 'pedidos'], url: '/orders-list' },
            { keywords: ['add branch', 'nueva sucursal'], url: '/add-branch' },
            { keywords: ['profile', 'perfil', 'my profile'], url: '/profile' },
            { keywords: ['purchase', 'compra', 'compras', 'purchases'], url: '/purchase-list' },
            { keywords: ['add purchase', 'nueva compra', 'add-purchase'], url: '/add-purchase' },
            { keywords: ['settings', 'configuracion', 'ajustes'], url: '/settings' },
            { keywords: ['audit', 'history', 'log', 'historial', 'actividad'], url: '/audit-log' }
        ];
        for (var i = 0; i < pages.length; i++) {
            for (var j = 0; j < pages[i].keywords.length; j++) {
                if (q.includes(pages[i].keywords[j]) || pages[i].keywords[j].includes(q)) {
                    window.location.href = pages[i].url;
                    return;
                }
            }
        }
        Swal.fire('Warning', 'No matching page found for "' + q + '". Try: menu, billing, report, inventory, expense, customer, orders', 'warning');
    });
    document.getElementById('searchForm').addEventListener('reset', function() {
        document.getElementById('searchInput').value = '';
    });
    function logout() {
        fetch('/api/log-out', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())
          .then(data => {
              if (data.success) {
                window.location.href = '/signin';
              } else {
                  Swal.fire('Error!', 'Logout failed: ' + data.message, 'error');
              }
          })
          .catch(error => console.error('Error:', error));
    }
    </script>
<script src="assets/js/i18n.js"></script>
<script>document.addEventListener('DOMContentLoaded', function(){
    applyTranslations();
    var avatar = '<%= typeof avatar !== "undefined" && avatar ? avatar : "" %>';
    if (avatar) {
        var imgs = document.querySelectorAll('#header-avatar, #header-avatar-dropdown');
        imgs.forEach(function(img) { img.src = avatar; });
    }
});</script>